/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 5. 8, 오전 1:40:43
    Author     : dongju
*/

.text-field {
    -fx-font-size: 0.8em;
		-fx-font-family:  "Serif";
		
}
.table-view .column-header{
    -fx-font-size:0.8em;
		-fx-font-family:  "Serif";
}

.table-cell {
    -fx-font-size: 0.8em;
		-fx-font-family:  "Serif";
}